[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=quake
Name=Quake
Icon=quake
Terminal=false
GenericName=quakespasm
Comment=Quakespasm Quake Client
Categories=Game
