[Unit]
Description=Minidlna Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/minidlnad -f /etc/minidlna.conf

[Install]
WantedBy=multi-user.target
