[Unit]
Description=QtWebflix

[Service]
Type=simple
EnvironmentFile=-/etc/environment
ExecStart=/bin/sh -c "/usr/bin/qtwebflix -p https://www.zdf.de"
Restart=on-failure
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
