[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=quake3
Name=Quake3 Arena
Icon=quake3
Terminal=false
GenericName=quake3e
Comment=Quake3e Quake3 Client
Categories=Game
