[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=quake2
Name=Quake2
Icon=Quake2
Terminal=false
GenericName=yquake2
Comment=yquake Quake2 Client
Categories=Game
